<h4>Add sound:</h4>
<form action="/sounds" method="POST">
  <label for="name">New Sound Name: </label>
  <input type="text" name="name" id="name">
  <label form="description">Sound Description: </label>
  <input type="text" name="description" id="description">
  <input type="submit" value="Add New Sound">
</form>
