<div class="row">
<h2>Here is your sound: </h2>
</div>

<h3>Sound Name: <%=@sound.name%></h3>
<h4>Sound Description: <%=@sound.description%></h4><br>
<p><a href="/sounds/<%=@sound.slug%>/edit">Edit Sound</a></p><br>
  <a href="/sounds/new">Add New Sound</a><br>
