
<div class="jumbotron">
  <p class="lead">Keep track of all of your song ideas, anywhere from simple sounds that you'd like to use in a song, to entire song structures.</p>
</div>

<p><% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %></p>

<h4>If you do not have an account, please sign up:</h4>
  <form action="/signup" method="post">
    <label for="username">New User: </label>
    <input type="text" name="username" id="username" placeholder="new username">
    <label for="new_password">Password: </label>
    <input type="text" name="password" id="password">
    <input type="submit" value="Sign Up">
  </form>

<h4>If you already have an account, please login:</h4>
  <form action="/login" method="post">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" placeholder="username">
    <label for="new_password">Password: </label>
    <input type="text" name="password" id="password">
    <input type="submit" value="Login">
  </form>
